@media (max-width: 1190px) {
    .container {
        width: 800px;
    }
}

@media (max-width: 850px) {
    .container {
        width: 700px;
    }

    .advantages__block {
        width: 220px;
    }
}

