@import 'base/mixins';
@import 'base/variable';
@import 'blocks/container';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/slider';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'base/media';

* {
    box-sizing: border-box;
    font-family: 'Museo Sans Cyrl', sans-serif ;
}
body {
    min-width: 780px;
}